.input__content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:12px
}

.input {
    position: relative;
    display: flex;
    gap: 12px;
    width: 272px;
}

.input__box{
    width: 100%;
    border-radius: 100px;
    border: none;
    transition: 0.2s;
    padding: 0px 16px;
    height: 40px;
}

.input__box:focus{
    border: 1px solid #c4c0c0
}

.input__submit {
    background: #571fe5;
    height: 40px;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px ; 
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 12px;
    align-items: flex-start;

}

.todo{ 
    flex: 50%;
    display: flex;
    flex-direction: column;
    gap: 12px; 
    /* background-color: #571fe5; */
    padding: 24px;
    border-radius: 8px;
}

.todo__list{
    flex: 50%;
    display: flex;
    border-radius: 8px;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    padding: 12px 12px;
    transition: 0.2s;
}

.todo__list:hover{
    box-shadow: 0 0 5px #000;
    transform: scale(1.03);
    cursor: pointer;
}

.todo__action{
    display: flex;
    flex-direction: row;
    gap: 8px
}

.todo__action > button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
}

.remove{
    /* background-color: #a01c1c; */
}
 