.input {
    position: relative;
    width: 90%;
}

.input__box{
    width: 100%;
    border-radius: 100px;
    border: none;
    transition: 0.2s;
    padding: 16px 16px;
}

.input__box:focus{
    border: 1px solid #c4c0c0
}

.input__submit {
    background: #571fe5;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px ;
    position: absolute;
    top: 8px;
    right: 0;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 12px;
    align-items: flex-start;

}

.todo{ 
    flex: 50%;
    display: flex;
    flex-direction: column;
    gap: 12px; 
    background-color: #571fe5;
    padding: 24px;
    border-radius: 8px;
}

.todo__list{
    flex: 50%;
    display: flex;
    border-radius: 8px;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f1f0f0;
    padding: 12px 12px;
    transition: 0.2s;
}

.todo__list:hover{
    box-shadow: 0 0 5px #000;
    transform: scale(1.03);
    cursor: pointer;
}

.todo__action{
    display: flex;
    flex-direction: row;
    gap: 8px
}

.todo__action > button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
}

.remove{
    background-color: #a01c1c;
}
 