@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
 

h1, p{
    padding: 0;
    margin: 0;
    line-height: 4px * 120px;
}



.App {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap:24px;
    /* align-items: center; */
    background-color: #F5F5F5;
    font-family: "Inter", sans-serif; 
}


.brand{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.heading{
    z-index: 1;
}